<div class="page">
  <h1>舊振南食品股份有限公司</h1>
  <h2>跑餅溫度、抽樣重量記錄表(P2515)</h2>
  <p class="date">日期:<%= date_format(@paper.created_at)%></p>
  <table>
    <thead>
      <tr class="th-row1">
      <% @papers.each do |t|%>
        <th class="car" colspan="2">車數&nbsp<%= t.id %></th>
        <th colspan="1">
        <%= score_for_checked(t.score, name1="frozen",name2="freshly", test1="冷凍",test2="現做") %>
        </th>
        <th class="sum" colspan="2">總數量&nbsp<%= t.id %></th>
      <% end %>
      </tr>
      <tr class="th-row2">
      <% 3.times do %>
        <td>品項</td>
        <td>數量</td>
        <td class="th-sample">抽樣數量</td>
        <td class="th-result">抽樣結果</td>
        <td>處理方式</td>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <%arr = []
      @papers.each_with_index do |t, tindex| 
      arr.push(t.stages.length)
      end
      maxlen = arr.max
      len = maxlen - 1 
      (0..len).each do |sindex|%>
      <tr>
      <%@papers.each_with_index do |t| %>
        <% if t.stages[sindex]%>
        <td class="item"><%=t.stages[sindex]['id']%></td>
        <td class="num"><%=t.stages[sindex]['paper_id']%></td> 
        <td class="sample"><%=t.stages[sindex]['downtemp']%></td> 
        <td class="result"><%= score_for_checked(t.score)%><p>原因</p></td>
        <td class="process"><%=t.stages[sindex]['toptemp']%></td>
        <%else%>
        <td class="item"></td>
        <td class="num"></td> 
        <td class="sample"></td> 
        <td class="result"><%= score_for_checked(t.score)%><p>原因</p></td>
        <td class="process"></td>
        <%end%>
      <%end %>
      </tr>
      <% end %>
      <% titles = ["烤完時間","冷卻時間","冷卻溫度","記錄者"] %>
      <% el = ['id', 'score', 'item', 'created_at']%>
      <% titles.each_with_index do |title, index|%>
      <tr>
        <td colspan="2"><%= title%></td>
        <% @papers.each do |t| %>
        <% if t.id == 1 %>
        <td colspan="3"><%= t[el[index]] %></td>
        <% else %>
        <td colspan="5"><%= t[el[index]] %></td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
      
    </tbody>
  </table>
  <div class="sign">
    <span class="supervisor">主管:<%= @paper.item %></span>
    <span class="version">Rev.1.0</span>
  </div>
</div>